html {
    box-sizing: border-box;
}

body {
    width: 1920px;
    margin: 0 auto;
    color: #FFFFFF;
    background-color: #F8F8F8;
}

.header {
    font-family: "Inter", sans-serif;
    background-color: #fff;
    height: 133px;
    width: 1920px;
    flex-direction: column;
}

.logo_and_login_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
}

.logo_container {
    display: flex;
    flex-direction: row;
    width: 517px;
    height: 60px;
    align-items: center;
    margin: 7px 0px 8px 48px;
    justify-content: space-between;
}
 
.title {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    height: 27px;
    width: 441px;
    margin-left: 15px;
    color: black;
}

.login {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #DA281B;
    padding: 12px 32px 12px 32px;
    border: none;
    border-radius: 8px;
    min-height: 56px;
    max-height: 56px;
    width: 220px;
    color: #fff;
    margin: 9px 48px 10px ;
    white-space: nowrap;
}

.login:hover {
    background-color: rgb(0, 0 , 0, 0);
    color: black;
    border: 3px solid #DA281B;
    padding: 9px 29px 9px 29px;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 21px;
    margin: 18px 12% 18px 8%;
}

.menu_option {
    display: flex;
    color: #204E93;
    flex-direction: row;
    margin: 0 5% 0 0;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.4s;
}

.menu_option:hover {
    text-shadow: 0 0 1px #204E93;
}

.dropdown_arrow {
    margin: 0 0 0 5px;
    transition: all 0.4s;
}

.dropdown_arrow:hover {
    transform: rotate(180deg);
}

.slider_box {
    background-image: url("../images/fighters.png");
    background-repeat: no-repeat;
    width: 1920px;
    height: 1280px;
    position: relative;
}

.slider_background_shadow {
    background: linear-gradient(to top, black, rgb(0, 0, 0, 0));
    width: 1920px;
    height: 1280px;
}

.slider_text {
    font-weight: 600;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    position: absolute;
    left: 48px;
    bottom: 50px;
}

@media (min-width: 400px) and (max-width: 1320px) {
    body {
        max-width: 1320px;
        width: 100%;
        margin: 0 auto;
        color: #F8F8F8;
}
    .header {
        font-family: "Inter", sans-serif;
        background-color: #fff;
        height: 133px;
        width: 1320px;
        flex-direction: column;
        display: flex;
}
    .login {
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        background-color: #DA281B;
        padding: 12px 32px 12px 32px;
        border: none;
        border-radius: 8px;
        min-height: 56px;
        max-height: 56px;
        width: 220px;
        color: #fff;
        margin: 9px 44px 10px 37.5%;
        white-space: nowrap;
}
    .menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 21px;
        margin: 18px 72px 18px 73px;
}

}

